<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <form action="/task-update/<%= content._id %>" method="POST">
        <h2>UPDATE TASK</h2>
        <textarea name="description" cols="30" rows="10" placeholder="enter task description" ><%= content.description %></textarea>
        <section>
                <label for="completed">Completed</label>
                <select name="completed" required>
                    <option disabled>select</option>
                    <option value=<%= content.completed %>><%= content.completed %></option>
                    <option value=<%= !(content.completed) %>><%= !(content.completed) %></option>
                </select>
        </section>
        <input type="submit" value="Update">
    </form>
</body>
<%- include("./partials/footer.ejs") %>
</html>